@font-face {
  font-family: 'uniform_roundedultra';
  src: url("../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.woff2") format("woff2"), url("../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.woff") format("woff"), url("../fonts/miller_type_foundry_-_uniform_rounded_ultra-webfont.svg#uniform_roundedultra") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uniform_roundedblack';
  src: url("../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.woff2") format("woff2"), url("../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.woff") format("woff"), url("../fonts/miller_type_foundry_-_uniform_rounded_black-webfont.svg#uniform_roundedblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'uniform_roundedbold';
  src: url("../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.woff2") format("woff2"), url("../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.woff") format("woff"), url("../fonts/miller_type_foundry_-_uniform_rounded_bold-webfont.svg#uniform_roundedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: auto;
  text-decoration: none;
}

body {
  background-color: #96d9ff;
  background-color: #FFF;
  background-image: url(../images/bg_01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 90%;
}

.lighter {
  font-weight: lighter;
}

main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30%;
  min-height: 260px;
}

header nav {
  width: 70%;
  height: 33.33%;
}

header h1 {
  color: #fff;
  width: 100%;
  height: 33.33%;
  font-family: 'Amatic SC', cursive;
  font-size: 5em;
  text-align: center;
  filter: drop-shadow(0px 0px 2px #000);
}

header h3 {
  color: #fff;
  width: 100%;
  height: 16.65%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  font-weight: lighter;
  text-align: center;
  align-self: center;
  filter: drop-shadow(0px 0px 2px #000);
  line-height: 4;
}

header h4 {
  color: #fff;
  width: 100%;
  height: 16.65%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  align-self: center;
  line-height: 2;
  margin-top: 1%;
  filter: drop-shadow(0px 0px 2px #000);
  line-height: 1.2;
}

.lighter {
  font-weight: lighter;
}

.price {
  font-weight: lighter;
  font-size: 0.8em;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
  opacity: 1;
}

.navItem {
  color: #FFF;
  width: 100%;
  width: 33.33%;
  height: 50%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4em;
  margin-top: 2%;
  text-align: center;
  filter: drop-shadow(0px 0px 2px #000);
}

.navItem a {
  color: #FFF;
}

/*#video {
	position: relative;
	width: 640px;
	height: 360px;
	left: 50%;
	top: 10%;
	transform: translate(-50%);
	background-color: rgba(255, 57, 216, 0.5);
}*/
#video {
  position: relative;
  width: 48.82812%;
  height: 46.875%;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
}
